# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.pytest_cache/

# Сгенерированные файлы Protobuf 
# (Их лучше генерировать при сборке образа, а не хранить в гите)
*_pb2.py

# Конфиденциальные данные
.env

# Базы данных
*.db
*.sqlite3
postgres_data/

# Docker
.docker_temp/

# Локальные скрипты для тестов
simulate_dryer.py

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

utils/coredump.b64
utils/esp32.elf