

services:
  # FastAPI 
  web:
    build: .
    container_name: fast_api_app
    environment:
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "8000:8000"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    volumes:
      - .:/app
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      hivemq:
        condition: service_started
    networks:
      - iot_network

  # MQTT Брокер (HiveMQ)
  hivemq:
    image: hivemq/hivemq-ce:latest
    container_name: hivemq_broker
    ports:
      - "1883:1883"
    networks:
      - iot_network

  # База данных Postgres
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - iot_network

  # Сбор метрик (Prometheus)
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alerts.yml:/etc/prometheus/alerts.yml 
    networks:
      - iot_network

  # Сбор логов (Loki)
  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - iot_network

  pushgateway:
    image: prom/pushgateway:latest
    container_name: pushgateway
    ports:
      - "9091:9091"
    networks:
      - iot_network

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
    networks:
      - iot_network
    command: '--config.file=/etc/alertmanager/alertmanager.yml'

  telegram_bot:
    build:
      context: .
      dockerfile: telegram_bot.Dockerfile
    container_name: telegram_bot
    ports:
      - "8080:8080"
    networks:
      - iot_network
    restart: always

networks:
  iot_network:
    driver: bridge

volumes:
  pg_data:
